@using Types

<li class="@Offset animate-box fadeInUp animated-fast">
  <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h3 class="timeline-title">Masters Degree</h3>
      <span class="company">University Name - 2007 - 2009</span>
    </div>
    <div class="timeline-body">
      <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a
        large language ocean.</p>
    </div>
  </div>
</li>

@code {
  [Parameter]
  public EducationModel? EducationData { get; set; }
  [Parameter]
  public string? Offset { get; set; }
}